body{
    font-family:'メイリオ', 'Meiryo', sans-serif;
  }

#top{
    color: red;
}

#middle{
    color: blue;
}

#bottom{
    color: yellow;
}

.logo-image{
    width: 3%;
    height: 3%;
}